        body {
            background: rgb(199, 224, 218);
            display: flex;
            justify-content: space-around;
            padding: 25px 25px 25px 50px;
            margin: 0px;
            font-family: 'Nunito', sans-serif;
        }
        
        .block {
            width: 45%;
            height: 200px;
        }
        
        .left-block {
            background-color: rgb(255, 255, 255);
            height: auto;
            padding: 25px;
        }
        
        .right-block {
            height: auto;
        }
        
        .item-constructor {
            padding: 25px;
            background-color: rgb(255, 255, 255);
            height: auto;
            position: relative;
        }
        
        .item-comment_form {
            z-index: 999999;
            padding: 25px;
            margin-top: 30px;
            background-color: rgb(255, 255, 255);
            text-align: left;
            position: fixed;
            left: 35%;
            top: 25%;
        }
        
        .item-comment_form_input {
            padding: 10px;
            border: 0px;
            background-color: rgb(199, 224, 218);
            margin-bottom: 10px;
            font-size: 13px;
            font-family: 'Nunito', sans-serif;
            font-weight: 600;
        }
        
        .author-comment {
            color: #0084ff;
        }
        
        .author-comment::placeholder {
            color: #0084ff;
        }
        
        .comment-text,
        .constructor-text {
            width: 90%;
            line-height: 18px;
            resize: none;
        }
        
        .submit {
            padding: 5px;
            margin: 0px;
            background-color: #f99b36;
            font-size: 13px;
            font-weight: 600;
            cursor: pointer;
            transition: all 500ms linear;
        }
        
        .submit:hover {
            z-index: 99999;
            padding: 10px;
            margin-left: -5px;
            margin-top: -5px;
            margin-bottom: -5px;
        }
        
        h2 {
            font-weight: 500;
        }
        
        .constructor-author::placeholder,
        .input-imageLink::placeholder,
        .constructor-text::placeholder {
            color: black;
        }
        
        .input-imageLink {
            padding: 5px 10px;
            width: 90%;
        }
        
        #preview {
            height: 150px;
            width: 200px;
        }
        
        .hide {
            display: none;
        }
        
        .left-block__item {
            width: 100%;
            word-wrap: break-word;
            background-color: rgb(199, 224, 218);
            padding: 25px 25px 10px 25px;
            font-size: 13px;
            border-bottom: 1px groove rgba(132, 132, 132, 0.6);
        }
        
        .left-block__common-div {
            width: 100%;
            background-color: rgb(199, 224, 218);
            font-size: 13px;
        }
        
        .left-block__item_comment {
            width: 100%;
            word-wrap: break-word;
            background-color: rgb(199, 224, 218);
            padding: 10px 25px 10px 25px;
            font-size: 12px;
            margin: 0px;
            border-bottom: 1px groove rgba(132, 132, 132, 0.6);
        }
        
        .comment-author-span {
            color: #0084ff;
            font-size: 13px;
            font-weight: 600;

        }
        .comment-text-p {
            line-height: 14px;
            opacity: 0.8;
            margin: 0px;            
        }
        .comment-date-span {
            font-size: 13px;
            font-weight: 600;
        }
        
        .title_article-author {
            color: #0084ff;
            margin: 0px;
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 10px;
        }
        
        .date {
            color: black;
            font-weight: 300;
            font-size: 13px;
        }
        
        #preview {
            width: 130px;
            height: 100px;
            background-repeat: no-repeat;
            background-size: contain;
        }
        
        .article-paragraf {
            font-size: 15px;
        }
        
        .article-image {
            width: 150px;
            height: 130px;
            background-repeat: no-repeat;
            background-size: contain;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .block__item-article-comment {
            height: auto;
            width: calc(100% - 50px);
            padding: 0px;
            margin: 0px;
        }
        
        .button-write-comment {
            padding: 5px;
            margin: 0px;
            background-color: #f99b36;
            font-size: 13px;
            font-weight: 600;
            float: right;
            font-family: 'Nunito', sans-serif;
            border: 0px;
            cursor: pointer;
        }
        
        .button-show-comments {
            float: right;
            padding: 5px;
            margin: 0px 10px 0px 0px;
            cursor: pointer;
            font-size: 12px;
        }
        
        .button-likes {
            padding: 5px;
            margin: 0px;
            color: red;
            cursor: pointer;
            font-size: 12px;
        }
        
        .decor-none {
            text-decoration-style: solid;
            border: 0px;
            background: none;
            font-family: 'Nunito', sans-serif;
            font-weight: 600;
        }
        .remove-comment {
            float: right;
            opacity: 0.4;
            transition: all 500ms linear;
            font-size: 10px;

        }
        .remove-comment:hover {
            opacity: 0.8;
        }
        .popup {
            z-index: 99999;
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            min-height: 100%;
            background-color: rgba(0,0,0,0.5);

        }
